@font-face {
    font-family: "MontHEAVY";
    src: url("../Mont-HeavyDEMO.otf");
}

@font-face {
    font-family: "LouisGeorgeCafeLight";
    src: url("../Louis-George-Cafe-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Orange gradient background */
    background-image: linear-gradient(109.8deg, rgba(250, 111, 152, 1) 5.6%, rgba(255, 189, 55, 1) 91.5%);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}


.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.container h1 {
    z-index: 1;
    position: relative;
    color: white;
    font-size: 120px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 32px;
    line-height: 60px;
    font-family: 'MontHEAVY';

}

.container h1 span {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 10px;
}

/*Button */

.Button {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;

    animation: flyingAnimation 1s infinite alternate ease-in-out;
    /* Animation de flottement */
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.Button button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0 black,
        -5px -5px 0 black,
        -5px 5px 0 black,
        5px -5px 0 black;
    transition: 500ms ease-in-out;

    margin-right: 50px;
}

.Button button:hover {
    box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

.Button button:focus {
    outline: none;
}

@media (max-width: 1170px) {
    .container h1 {
        font-size: 60px;
        letter-spacing: 19px;
        line-height: 35px;
        transition: 500ms ease-in-out;
    }

    container h1 span {
        font-size: 18px;
    }

    .Button button {
        width: 110px;
        height: 40px;
        font-size: 14px;
        font-weight: bold;
        border: 1px solid black;
        margin: 20px;
    }
}

@media (max-width: 430px) {
    .container h1 {
        font-size: 52px;
        letter-spacing: 10px;
        line-height: 35px;
        transition: 500ms ease-in-out;
    }

    container h1 span {
        font-size: 18px;
    }

    .Button button {
        width: 80px;
        height: 20px;
        font-size: 12px;
        font-weight: bold;
        border: 0px;
        margin: 20px;
    }
}

@media (min-width: 1171px) {
    .container h1 {
        transition: 500ms ease-out;
    }
}

@keyframes flyingAnimation {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, -10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* Logo Github */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

/*Modal "Qui suis-je" */

#ModalQuiSuisJe p {
    font-family: 'LouisGeorgeCafeLight';
}

#ModalQuiSuisJe h2 {
    font-family: 'MontHEAVY';
}

/* Wallpaper */

.container2 {
    display: flex;
}

.square {
    width: 50px;
    height: 50px;
    margin: 20px;
    margin-top: 100px;
    cursor: pointer;
    box-shadow: 0px 13px 40px 3px rgba(0,0,0,0.75);
    transition: transform .2s;
}

.square:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

#square1 {
    /* Orange gradient background */
    background-image: linear-gradient(109.8deg, rgba(250, 111, 152, 1) 5.6%, rgba(255, 189, 55, 1) 91.5%);
}

#square2 {
    /* Blue gradient background */
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(37, 145, 251, 0.98) 0.1%, rgba(0, 7, 128, 1) 99.8%);
}

#square3 {
    /* Pink and Blue gradient background */
    background-image: linear-gradient(64.5deg, rgba(245, 116, 185, 1) 14.7%, rgba(89, 97, 223, 1) 88.7%);
}

.selected {
    border: 2px solid black;
}